body{
    background-image: url('http://2.bp.blogspot.com/-rFybmtIlHX0/UiATigq_GvI/AAAAAAAAJN4/aPFdvSil73M/s1600/Background-Scroll6.jpg');
}
#mole {
    height: 50%;
}
#output3 {
    height: 300%
}
#output2 {
    font-size: 1000%;
}